<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 29 33">
  <path fill="var(--color)" fill-rule="evenodd" stroke="var(--stroke-color)" stroke-linejoin="round" stroke-width="1.5" d="M1 31.3h27v-3H1v3Zm3-3v-4h21v4H4Z" clip-rule="evenodd"/>
  <path fill="var(--color)" fill-rule="evenodd" d="M3 6.3v-5h4v2h5v-2h5v2h5v-2h4v5" clip-rule="evenodd"/>
  <path stroke="var(--stroke-color)" stroke-linejoin="round" stroke-width="1.5" d="M3 6.3v-5h4v2h5v-2h5v2h5v-2h4v5"/>
  <path fill="var(--color)" fill-rule="evenodd" d="m26 6.3-3 3H6l-3-3" clip-rule="evenodd"/>
  <path stroke="var(--stroke-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m26 6.3-3 3H6l-3-3"/>
  <path fill="var(--color)" fill-rule="evenodd" d="M23 9.3v12.5H6V9.3" clip-rule="evenodd"/>
  <path stroke="var(--stroke-color)" stroke-width="1.5" d="M23 9.3v12.5H6V9.3"/>
  <path fill="var(--color)" fill-rule="evenodd" d="m23 21.8 1.5 2.5h-20L6 21.8" clip-rule="evenodd"/>
  <path stroke="var(--stroke-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m23 21.8 1.5 2.5h-20L6 21.8"/>
  <path stroke="var(--stroke-color)" stroke-linecap="round" stroke-width="1.5" d="M3 6.3h23"/>
</svg>
