<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 34 35">
  <path fill="var(--color)" fill-rule="evenodd" d="M17 4.3c10.5 1 16.5 8 16 29H10c0-9 10-6.5 8-21" clip-rule="evenodd"/>
  <path stroke="var(--stroke-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="var(--stroke-width)" d="M17 4.3c10.5 1 16.5 8 16 29H10c0-9 10-6.5 8-21"/>
  <path fill="var(--color)" fill-rule="evenodd" d="M19 12.3c.38 2.91-5.55 7.37-8 9-3 2-2.82 4.34-5 4-1.042-.94 1.41-3.04 0-3-1 0 .19 1.23-1 2-1 0-4.003 1-4-4 0-2 6-12 6-12s1.89-1.9 2-3.5c-.73-.994-.5-2-.5-3 1-1 3 2.5 3 2.5h2s.78-1.992 2.5-3c1 0 1 3 1 3" clip-rule="evenodd"/>
  <path stroke="var(--stroke-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="var(--stroke-width)" d="M19 12.3c.38 2.91-5.55 7.37-8 9-3 2-2.82 4.34-5 4-1.042-.94 1.41-3.04 0-3-1 0 .19 1.23-1 2-1 0-4.003 1-4-4 0-2 6-12 6-12s1.89-1.9 2-3.5c-.73-.994-.5-2-.5-3 1-1 3 2.5 3 2.5h2s.78-1.992 2.5-3c1 0 1 3 1 3"/>
  <path fill="var(--stroke-color)" fill-rule="evenodd" stroke="var(--stroke-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="var(--stroke-width)" d="M4.5 19.8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm5.433-9.75a3.514 3.514 0 0 1-.657.845c-.222.197-.411.27-.526.204-.115-.066-.146-.267-.087-.557.06-.29.205-.648.404-.992.199-.345.435-.649.657-.845.222-.197.411-.27.526-.204.115.066.146.267.086.557-.059.29-.204.647-.403.992Z" clip-rule="evenodd"/>
</svg>
