<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 35 36">
  <path stroke="var(--stroke-color)" stroke-linecap="round" stroke-width="var(--stroke-width)" d="M17.5 6.63V1M15 3h5"/>
  <path fill="var(--color)" fill-rule="evenodd" stroke="var(--stroke-color)" stroke-width="var(--stroke-width)" d="M17.5 20s4.5-7.5 3-10.5c0 0-1-2.5-3-2.5s-3 2.5-3 2.5c-1.5 3 3 10.5 3 10.5Z" clip-rule="evenodd"/>
  <path fill="var(--color)" fill-rule="evenodd" d="M7.5 32c5.5 3.5 14.5 3.5 20 0v-7s9-4.5 6-10.5c-4-6.5-13.5-3.5-16 4-2.5-7.5-12-10.5-16-4-3 6 6 10.5 6 10.5v7Z" clip-rule="evenodd"/>
  <path stroke="var(--stroke-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="var(--stroke-width)" d="M17.5 18.5c2.5-7.5 12-10.5 16-4 3 6-6 10.5-6 10.5v7c-5.5 3.5-14.5 3.5-20 0v-7s-9-4.5-6-10.5c4-6.5 13.5-3.5 16 4Zm0 0V22"/>
  <path stroke="var(--stroke-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="var(--stroke-width)" d="M7.5 25c5.5-3 14.5-3 20 0m-20 3.5c5.5-3 14.5-3 20 0M7.5 32c5.5-3 14.5-3 20 0"/>
</svg>
